<div fxLayout="column">
  <div id="title-banner" fxLayout="row">
    <img fxHide.sm fxHide.xs id="left-img" class="side-img" src="../assets/images/crest-scaled.png" alt="crest">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" id="middle-content">
        <h1 fxHide.xs>SIGMA NU</h1>
        <h4 fxHide.xs>Beta Upsilon</h4>
        <h3>HONOR. TRUTH. LOVE.</h3>
    </div>
    <img fxHide.sm fxHide.xs id="right-img" class="side-img" src="../assets/images/badge.png" alt="badge">
  </div>
  <div>
  <div id="about-section" fxLayout="column" fxLayoutAlign="center center">
    <h2>Welcome to Sigma Nu!</h2>
    <br>
    <p>The men of Sigma Nu Beta Upsilon Chapter at Rose Hulman welcome you to our online website.
      With Rush right around the corner, we are very busy preparing for a great year.
      Check out our Rush section for more information, as well as a detailed rush calendar.
    </p>
    <p fxHide.xs>Headquartered in Lexington, Virginia Sigma Nu Fraternity was founded in 1869 at Virginia 
      Military Institute in Lexington. Sigma Nu currently has over 180 active chapters and colonies 
      on college campuses throughout the United States and Canada, and has initiated over 219,000 
      members since its founding.
    </p>
    <p fxHide.sm fxHide.xs>The Beta Upsilon chapter of the Sigma Nu fraternity has been a part of the Rose-Hulman 
      community since 1896 and is the second oldest fraternity at the school. During our 112 years 
      of existence, we have groomed nearly 2,000 men to be leaders of the world around us, and we 
      have instilled in them the values necessary to complement a Rose-Hulman education in order 
      to be successful in today's world.
    </p>
  </div>
  <!--<div id="rush-trap" fxLayout="column" fxLayoutAlign="center center">
    <a [routerLink]="['/rush']" routerLinkActive="active"><h2>Rush Schedule</h2></a>
    <p>Come have fun and meet brothers !</p>
  </div>-->
<div>