#title-banner {

    background-color: #1A1A1A;

    #middle-content {
        background-image: url("../../assets/images/house-BW.png");
        background-size: 100%;
        background-repeat: no-repeat;
        color: white;
        min-height: 400px;
    }

    h1 {
        font-size: 2.5em;
        color: #FFFFFF;
        line-height: 1.4em;
        margin: 0em;
        letter-spacing: 1.1px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 2.5em;
    }

    h3 {
        color: #FFFFFF;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0em;
        letter-spacing: 2.5px;
        line-height: 1.8em;
        margin-top: 1em;
    }

    h4 {
        font-size: 0.9em;
        color: #FFFFFF;
        line-height: 1em;
        margin: 0em;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 0.1em;
        text-transform: uppercase;
    }

    .side-img {
        margin: 30px 0px;
        background-color: #1A1A1A;
        height: 450px;
    }

    #left-img {
        width: 380px;
        margin-left: -150px;
    }

    #right-img {
        width: 450px;
        margin-right: -170px;
    }
}

#about-section {
    
   text-align: center;
    padding: 40px 180px;
    
    h2 {
        font-size: 1.6em;
        font-weight: 500;
        color: #272525;
        margin: 0px 0px 15px;
    }

    p {
        color: #272525;
        font-size: 1.1em;
        font-weight: 300;
        margin: 0px 0px 15px;
    }

    @media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
        padding: 20px 60px;

        h2 {
            font-size: 1.3em;
            font-weight: 500;
            color: #272525;
            margin: 0px 0px 10px;
        }

        p {
            color: #272525;
            font-size: 0.9em;
            font-weight: 300;
            margin: 0px 0px 10px;
        }
    }
}

#rush-trap {

    padding: 30px 0px;
    background-color: #b4a243;

    h2 {
        font-size: 1.8em;
        font-weight: 500;
        color: #272525;
        margin-bottom: 5px;
    }

    p {
        color: #272525;
        font-size: 1.3em;
        font-weight: 300;
        margin-top: 5px;
    }

     @media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
        padding: 20px 60px;

        h2 {
            font-size: 1.5em;
            font-weight: 500;
            color: #272525;
        }

        p {
            color: #272525;
            font-size: 1em;
            font-weight: 300;
        }
    }
}