#middle-content {

    background-image: url("../../assets/images/house-BW.png");

    /* Full height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: space-around;
    padding-top: 80px;
    height: 100vh;

    color: #9B9650;

    #imageText {

        justify-content: space-around;
        align-items: center;

        h1 {
            font-size: 2.5em;
            font-weight: bold;
            line-height: 1.4em;
            margin: 0em;
            letter-spacing: 1.1px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0em;
            letter-spacing: 2.5px;
            line-height: 1.8em;
        }

        h4 {
            color: black;
            font-size: 1em;
            line-height: 1em;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
        }

        @media (max-width: 960px) {
            /* CSS that should be displayed if width is equal to or less than 875px goes here */
            min-height: 420px;
        }
    }
}
