<div id="bottom-bar" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex></div>
  <div id="contact-us" class="content" fxLayout="column">
    <h2>Contact Us!</h2>
    <a class="contact-link" href="https://www.facebook.com/SigmaNuBetaUpsilon/">Facebook</a>
    <a class="contact-link" href="http://www.amderada.com">Webmaster</a>
    <a class="contact-link" href="mailto:deradaam@rose-hulman.edu">Email</a>
  </div>
  <div fxFlex></div>
  <div id="address" class="content" fxLayout="column">
    <h2>Address</h2>
    <a>Sigma Nu Fraternity</a>
    <a>Rose-Hulman Institute of Technology</a>
    <a id="address-link" href="https://www.google.com/maps/place/Sigma+Nu+Fraternity/@39.4872212,-87.3449235,13.75z/data=!4m5!3m4!1s0x0:0x5c34d5b6b214b24!8m2!3d39.4837563!4d-87.3199797">5500 Wabash Avenue<br>Terre Haute, 47803 IN</a>
  </div>
  <div fxFlex></div>
  <div id="google-location" class="content">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12316.876162170842!2d-87.33142534999999!3d39.4869683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c34d5b6b214b24!2sSigma+Nu+Fraternity!5e0!3m2!1sen!2sus!4v1494206218209" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div fxFlex></div>
</div>