input[type="number"] {
        width: 50px;
        font-size: 25px;
    }
img{
    width: 100%;
    max-width: 1024px;
}
header{
    display: block;
    padding: 5px;
}
.control{
    display: block;
    width: 100%;
    height: 80px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.preview{
    cursor: pointer;
}
.preview.active{
    background-color: #999;
}
.preview-img{
    margin: 10px 0;
    width: 100%;
}
.full-image{
    display: none;
    text-align: center;
}
.full-image.active{
    display: block;
}
.text-center{
    text-align: center;
}