<div fxLayout="column">
  <div id="about-house-section" fxLayout="column" fxLayoutAlign="center center">
    <h2 fxHide.xs>Welcome to Our House!</h2>
    <p>The men of Sigma Nu carry a strong presence on campus. Many brothers are part of various varsity teams.
      We have intramural basketball and soccer teams consistently making the playoffs and we have a strong prescence at the annual Greek Games.
      4 brothers also have seats on Rose-Hulman's Inter Fraternal Council.
    </p>
     <p fxHide.sm fxHide.xs>All men of Sigma Nu are ready to lend a helping hand to the surrounding community. We take part in and hold
       many campus philanthropy events such as the annual Sigma Nu Volleybash, Polar Plunge, and Anchor Splash. Sigma Nu is also always
       willing to help other greek organizations across the area. The values taught our fraternity advocate a community involvement
       that the brothers of the Beta Upsilon chapter take to heart and act on accordingly.
    </p>
  </div>
  <div id="carousel">
    <slide-show></slide-show>
  </div>
<div>
