<div fxLayout="column">
  <div id="about-house-section" fxLayout="column" fxLayoutAlign="center center">
    <h2>Welcome to Our House!</h2>
    <br>
    <p>The men of Sigma Nu carry a strong presence on campus. Many brothers participate in varsity athletics. 
      We have many greek intramural teams consistently making the playoffs and we have a strong prescence at the annual Greek Games. 
      4 brothers have seats on Rose-Hulman's Inter Fraternal Council. The brothers of Sigma Nu are notorious for always being seen together, 
      whether they are walking to class, eating lunch, working out, or partying. Join us in our Campus Domination.
    </p>
     <p fxHide.sm>This tight brotherhood that Sigma Nu grows between members brings the brothers together to participate in events for the 
       good of Rose-Hulman and the Terre Haute community. For any given event, all men of Sigma Nu are ready to lend a helping hand to enhance 
       the surrounding community. It is for this reason that the men of Sigma Nu have taken part in-and held-many campus philanthropy events 
       such as the annual Sigma Nu Volleybash, Polar Plunge, and Anchor Splash. Sigma Nu is also always willing to provide support of other fraternities 
       and sororities across the area, holding intrafraternal relationships in very high regards. The values taught by the Sigma Nu fraternity advocate a 
       community involvement that the brothers of the Beta Upsilon chapter take to heart and act on accordingly.
    </p>
  </div>
  <div id="carousel">
    <slide-show></slide-show>
  </div>
<div>