#carousel {
    //  background-color: #1A1A1A;
     background-color: #333333;
}

#about-house-section {

    padding: 4vh 20% 3vh;
    background-color: #333333;
    color: white;

    h2 {
      color: #AA9B70;
    }
    p {
      font-size: 15pt;
      line-height: 20pt;
    }
    // text-align: center;
    // padding: 20px 22%;

    @media (max-width: 550px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */

        p {
          font-size: 12pt;
          line-height: 16pt;
        }
    }
}
