<div fxLayout="column">
  <div id="carousel">
    <slide-show></slide-show>
  </div>
  <div>
  <div id="about-house-section" fxLayout="column" fxLayoutAlign="center center">
    <h2>Welcome to Our House!</h2>
    <br>
    <p>The men of Sigma Nu carry a strong presence on campus. Many brothers participate in varsity athletics. 
      We have many greek intramural teams consistently making the playoffs and we have a strong prescence at the annual Greek Games. 
      4 brothers have seats on Rose-Hulman's Inter Fraternal Council. The brothers of Sigma Nu are notorious for always being seen together, 
      whether they are walking to class, eating lunch, working out, or partying. Join us in our Campus Domination.
    </p>
     <p fxHide.xs>This tight brotherhood that Sigma Nu grows between members brings the brothers together to participate in events for the 
       good of Rose-Hulman and the Terre Haute community. For any given event, all men of Sigma Nu are ready to lend a helping hand to enhance 
       the surrounding community. It is for this reason that the men of Sigma Nu have taken part in-and held-many campus philanthropy events 
       such as the annual Sigma Nu Volleybash, Polar Plunge, and Anchor Splash. Sigma Nu is also always willing to provide support of other fraternities 
       and sororities across the area, holding intrafraternal relationships in very high regards. The values taught by the Sigma Nu fraternity advocate a 
       community involvement that the brothers of the Beta Upsilon chapter take to heart and act on accordingly.
    </p>
    <p fxHide.sm fxHide.xs>The brothers of Sigma Nu are a very close group of men. The men of Sigma Nu take pride in the values of honor, truth, and 
      love that the fraternity holds dear and remains steadfast to the beliefs that tie all of the brothers together. The men of Sigma Nu take great 
      confidence in the fact that each chapter across the nation is consistently loyal to these values, maintaining honor, truth, and love in everyday acts. 
      Sigma Nu strives to achieve a global approach in the understanding of its values. The men of the Beta Upsilon chapter aim to accomplish this goal by 
      taking multiple chapter trips to various locations across the nation, simply to gain a better understanding of what it really means to be a Sigma Nu. 
      In the past two years alone, these men have traveled to Cincinatti, Myrtle Beach, Destin, New Orleans, Nashville, Chicago, and St. Louis, simply to travel 
      the nation and build even greater bonds of friendship and brotherhood. Sigma Nu prides itself on the ability to take men of promise and not only bring out 
      the best in them but to give them the knowledge, values and friendships that will improve their lives in every aspect.
    </p>
  </div>
<div>