#slideshow {
    padding: 30px;
}

input[type="number"] {
    width: 50px;
    font-size: 25px;
}
img{
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 650px;
}
header{
    display: block;
    padding: 5px;
}
.control{
    display: block;
    width: 100%;
    height: 80px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.preview{
    cursor: pointer;
}
.preview.active{
    border: 1px solid #AA9B70;
    // background-color: #b4a243;
}
.preview-img{
    margin: 10px 10px;
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 80px;
}
.full-image{
    display: none;
    text-align: center;
}
.full-image.active{
    display: block;
}
.text-center{
    text-align: center;
}
#main-pic {
    margin-bottom: 50px;
}
