<div id="about-section" fxLayout="column" fxLayoutAlign="center center">
  <h3>Welcome to Sigma Nu!</h3>
  <br>
  <p>The men of Sigma Nu Beta Upsilon Chapter at Rose Hulman welcome you to our online website.
    With Rush right around the corner, we are very busy preparing for a great year.
    Check out our Rush section for more information, as well as a detailed rush calendar.
  </p>
  <p fxHide.sm fxHide.xs>The Beta Upsilon chapter of the Sigma Nu fraternity has been a part of the Rose-Hulman 
    community since 1896 and is the second oldest fraternity at the school. During our 112 years 
    of existence, we have groomed nearly 2,000 men to be leaders of the world around us, and we 
    have instilled in them the values necessary to complement a Rose-Hulman education in order 
    to be successful in today's world.
  </p>
</div>
