<div id="about-section" fxLayout="column" fxLayoutAlign="center center">
  <h2 fxHide.sm fxHide.xs>Welcome to Sigma Nu @ Rose Hulman</h2>
  <p>The men of Sigma Nu Beta Upsilon Chapter at Rose Hulman welcome you to our online website.
    Our chapter has been a part of the Rose-Hulman community since 1896. During our 112 years of
    existence, we have groomed nearly 2,000 men to be leaders of the world around us and instilled
    in them the values necessary to be successful in today's world.
  </p>
  <p>
    With Rush right around the corner, we are very busy preparing for a great year.
    Check out our Rush section for more information, as well as a detailed rush calendar.
  </p>
</div>
