#top-bar {
    // background-color: #827717;
    background-color: #AA9B70;
    color: white;
    height: 80px;
    padding: 8px 0px;
    z-index: 5;
    position: fixed;

    #sigma-nu-logo {
        // background-color: #827717;
        background-color: #AA9B70;
        border: 0px;
        cursor: pointer;

        img {
            @media (max-width: 700px) {
            /* CSS that should be displayed if width is equal to or less than 800px goes here */
                width: 150px;
                height: auto;
            }
        }
    }

    a:hover {
        color: black;
        // background-color: #827717;
        background-color: #AA9B70;
    }
}
