#rush-calendar {
  width: 100%;
  border: 0px;
  #calendar {
    background-color: #333333;
    flex: 7;

    #september {
      flex: 1;

      img {
        width: 100%;
      }
    }

    #october {
      flex: 1;

      img {
        width: 100%;
      }
    }
  }

  .space {
    background-color: #333333;
    flex: 2;

    @media (max-width: 550px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */

        flex: 1;
    }
  }
}
